A{text-decoration:none;color:003366;} 
A:hover{text-decoration:none;none:336699;} 
A:active{text-decoration:none;color:003366;}
A:visited{text-decoration:none;color:003366;}
A:visited:hover{text-decoration:none;color:336699;}

A.nav{text-decoration:none;color:000000;}
A.nav:hover{text-decoration:none;color:FFFFFF;}
A.nav:active{text-decoration:none;color:FFFFFF;}
A.nav:visited{text-decoration:none;color:000000;}
A.nav:visitied:hover{text-decoration:none;color:FFFFFF;}
A.nav:visited:active{text-decoration:none;color:FFFFFF;}

A.tnav{text-decoration:none;color:003366;} 
A.tnav:hover{text-decoration:none;color:336699;}
A.tnav:active{text-decoration:none;color:003366;} 
A.tnav:visited{text-decoration:none;color:003366;} 
A.tnav:visited:hover{text-decoration:none;color:336699;}
A.tnav:visited:active{text-decoration:none;color:003366;}

A.dark{text-decoration:none;color:7F9EBC;}
A.dark:hover{text-decoration:none;color:FFFFFF}
A.dark.active{text-decoration:none;color:FFFFFF}
A.dark.visited{text-decoration:none;color:7F9EBC}
A.dark.visited:hover{text-decoration:none;color:FFFFFF;}
A.dark.visited:active{text-decoration:none;color:FFFFFF;}