vti_encoding:SR|utf8-nl
http\://www.electronican.com/vector/:index.html template.html about.html
http\://www.derp.net:index.html template.html about.html
http\://www.websitesponsors.com/cgi-bin/2000/click:index.html template.html about.html
index2.html:index2.html
http\://www.websitesponsors.com/2000/image.php3:index.html template.html about.html
http\://www.dynamixpro.com:index.html template.html about.html
images/spacer.gif:index.html template.html about.html
http\://www.ai9.net:index.html template.html about.html
