vti_encoding:SR|utf8-nl
vti_author:SR|Jake
vti_modifiedby:SR|Jake
vti_timecreated:TR|05 Mar 2001 01:36:01 -0000
vti_timelastmodified:TR|09 Mar 2001 22:16:10 -0000
vti_filesize:IR|875
vti_extenderversion:SR|4.0.2.3406
vti_backlinkinfo:VX|dynamixpro/store/index.shtml dynamixpro/services/index.shtml support.shtml cpuchunk.shtml about/index.shtml services/web.shtml services/thanks.shtml legal/privacy.shtml contact.shtml dynamixpro/rev/ps6_3.shtml tnav.html services/grfx.shtml dynamixpro/services/missing.shtml clients/index.shtml dynamixpro/rev/ps6_2.shtml dynamixpro/rev/ps6_main.shtml search.shtml newsletter/error.shtml newsletter/unsub.shtml t3mp.shtml services/index.shtml newsletter.shtml services/missing.shtml index.shtml sitemap.shtml newsletter/sub.shtml services/order.shtml dynamixpro/rev/ps6_4.shtml
vti_nexttolasttimemodified:TR|09 Mar 2001 22:13:25 -0000
vti_cacheddtm:TX|09 Mar 2001 22:16:10 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_syncwith_localhost\\c\:\\documents and settings\\administrator\\desktop\\dynamixpro\\beta_2/c\:/documents and settings/administrator/desktop/dynamixpro/beta_2:TW|09 Mar 2001 22:16:10 -0000
