vti_encoding:SR|utf8-nl
vti_author:SR|BEAST\\Administrator
vti_modifiedby:SR|BEAST\\Administrator
vti_timelastmodified:TR|11 Jul 2001 05:57:31 -0000
vti_timecreated:TR|06 Jul 2001 07:15:32 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{FBB3BFAB-3816-4246-B33F-23ED12266464}
vti_backlinkinfo:VX|privacy.html t3mp.html
vti_nexttolasttimemodified:TW|06 Jul 2001 07:23:49 -0000
vti_syncwith_dynamixpro.com\:21/www/dpb3:TX|11 Jul 2001 05:57:31 -0000
vti_syncofs_dynamixpro.com\:21/www/dpb3:TW|11 Jul 2001 11:11:00 -0000
vti_cacheddtm:TX|11 Jul 2001 05:57:31 -0000
vti_filesize:IR|1142
